<h1 id="tableLabel">Advert Types</h1>

<button class="nav-link text-dark" [routerLink]="['/add-type']">Add Type</button>
<br />

<p *ngIf="!advertTypes"><em>Loading...</em></p>

<p>Passed 'count' from child: {{ count }}</p>


<table *ngIf="advertTypes" class='table table-striped' aria-labelledby="tableLabel" >
  <thead>
    <tr>
      <th>Id</th>
      <th>Type</th>
      <th>Type Description</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let advertType of advertTypes">
      <td>{{ advertType.id }}</td>
      <td>{{ advertType.type }}</td>
      <td>{{ advertType.typeDescription }}</td>
      <td><button (click)="deleteType(advertType)">DEL</button></td>
      <td><button (click)="typeToUpperCase(advertType)">UPPERCASE</button></td>
      <td><button (click)="typeToLowerCase(advertType)">LOWERCASE</button></td>
      <td><button (click)="editType(advertType.id)">EDIT1</button></td>
      <td><button class="" [routerLink]="['/update-type/' + advertType.id]">EDIT2</button></td>
    </tr>
  </tbody>
</table>

<!--parent to child is first part @Input. Child to parent is second part (emit) @Output-->

<app-counter *ngIf="advertTypes" [valuesFromDisplayTypes]="advertTypes[0]" (currentCountCopy)="passCurrentCount($event)"></app-counter>

<app-boats *ngIf="advertTypes" [valuesFromDisplayTypes]="advertTypes[1]" [count]="count" ></app-boats>
