<h2>Edit Advert Type</h2>
<p>No validation implemented on this form - see Add form</p>
<br />

<form #updateTypeForm="ngForm" (ngSubmit)="updateType()">
  <div class="form-group">
    <label for="exampleInputType">Type</label>
    <input type="text" class="form-control" id="InputType" aria-describedby="typeHelp"
           placeholder="Enter Type" name="type" [(ngModel)]="model.type" #type="ngModel" required>
    <small id="typeHelp" class="form-text text-muted">Category name</small>
  </div>
  <div class="form-group">
    <label for="exampleInputTypeDescription">Type Description</label>
    <input type="text" class="form-control" id="InputTypeDescription" aria-describedby="typeHelpDescription"
           name="typeDescription" placeholder="Enter Type Description" [(ngModel)]="model.typeDescription" #typeDescription="ngModel" required>
    <small id="typeDescriptionHelp" class="form-text text-muted">Useful description for users</small>
  </div>
  <button [disabled]="!updateTypeForm.valid" type="submit" class="btn btn-primary">Update</button>
</form>
